# Root environment variables
NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/devsync
REDIS_URL=redis://localhost:6379
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
JWT_ACCESS_SECRET=c0e96837b1f33497e39df74200c42bd5ce5b5d538e052b1b5825e8e9bf2814ef
JWT_REFRESH_SECRET=ba874ac495d46a27858be359364948dbf8bee6974bb36337dfe907262f9c9c15 
