# Root environment variables
NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/devsync
REDIS_URL=redis://localhost:6379
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
JWT_ACCESS_SECRET=replace_this
JWT_REFRESH_SECRET=replace_this
